# Dependencies
node_modules/

# Environment
.env

# Database
data/*.db
data/*.db-journal

# Logs
logs/*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

vpc_hetzner_id_ed25519
image.png
monitor_endpoints.sh
venv